div img{
    width: 190px; /* Establece el ancho de las imágenes */
    height: 285px;
}
.containerSeries .serie-box{
    margin: 4px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
}

.containerPelis .pelis-box{
    margin: 4px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a200ff, #00ccff);
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 5em;
    background: linear-gradient(to right, #ff3300, #ea00ff);
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    text-align: center;
}

p {
    text-align: center;
}

.perfil {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0 0 10px 0;
    text-align: center;
}
